<template>
    <div>
       <!-- =========================
            START RECENT RENOVATIONS SECTION
        ============================== -->
        <section class="contact_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="contact_left">
                            <div class="contact_left_inner">
                                <p>800 33 33 30</p>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="inputCity" placeholder="Numero verde">
                                </div>
                                <img :src="core.Asset_Path+'images/call_2.png'" alt="">
                            </div>
                        </div>
                        <div class="contact_left">
                            <div class="contact_left_inner">
                                <p>commerciale@ristrutturazionecase.com</p>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="inputCity" placeholder="Per aziende">
                                </div>
                                <img :src="core.Asset_Path+'images/email_2.png'" alt="">
                            </div>
                        </div>
                        <div class="contact_left">
                            <div class="contact_left_inner">
                                <p>info@ristrutturazionecase.com</p>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="inputCity" placeholder="Informazioni generali">
                                </div>
                            </div>
                        </div>
                        <div class="contact_left">
                            <div class="contact_left_inner">
                                <p> <span v-text="__('Via Petrocchi')"></span> <br> 20121 <span v-text="__('Milano')"></span> </p>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="inputCity" placeholder="(Italia)">
                                </div>
                                <img :src="core.Asset_Path+'images/place_2.png'" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="google_map_area">

                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =========================
            END RECENT RENOVATIONS SECTION
        ============================== -->

    </div>
</template>



<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 0
            }
        },
        mounted(){
                console.log("Creating map");
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 11,

                    // The latitude and longitude to center the map (always required)
                    center: new google.maps.LatLng(40.6700, -73.9400), // New York

                });
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(40.6700, -73.9400),
                    map: map,
                    title: 'your title!'
                });
        }
    }
</script>
