<template>
    <div>
        <!-- =========================
            START RECENT RENOVATIONS SECTION
        ============================== -->
        <section class="single_portfolio_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="single_portfolio_content">
                            <div class="single_page_slider_wrapper">
                                <span class="s_b_f ">before</span>
                                <span class="s_b_f s_b_f2">after</span>
                                <div id="single_page_slider" class="owl-carousel owl-theme">
                                    <div class="items" style="height: 400px">
                                        <div class="img-comp-container">
                                            <div class="img-comp-img"
                                                 :style="{'background-image': 'url(https://dev2.simonechinaglia.net/dev/ristru-backend/public/storage/uploads/'+my_profile.image_after+')',
                                                 'background-size': 'cover',
                                                 'background-repeat': 'no-repeat',
                                                 'background-attachment': 'absolute',
                                                 'background-position': 'top center',
                                                 'height': '400px',
                                                 '-webkit-filter': 'grayscale(100%)',
                                                 'filter': 'grayscale(100%)',
                                                 'width': '100%!important',
                                                 'display': 'block'}">
                                            </div>
                                            <!--#d8d8d8-->
                                            <div class="img-comp-img img-comp-overlay"
                                                 :style="{'background-image': ' url(https://dev2.simonechinaglia.net/dev/ristru-backend/public/storage/uploads/'+my_profile.image_before+')',
                                                 'background-size': 'cover',
                                                 'background-repeat': 'no-repeat',
                                                 'background-attachment': 'absolute',
                                                 'background-position': 'top center',
                                                 'height': '400px',
                                                 'width': '100%!important',
                                                 'display': 'block'}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="items" style="height: 400px">
                                        <div class="img-comp-container">
                                            <div class="img-comp-img"
                                                 :style="{'background-image': 'url(https://dev2.simonechinaglia.net/dev/ristru-backend/public/storage/uploads/'+my_profile.image_before+')',
                                                 'background-size': 'cover',
                                                 'background-repeat': 'no-repeat',
                                                 'background-attachment': 'absolute',
                                                 'background-position': 'top center',
                                                 'height': '400px',
                                                 '-webkit-filter': 'grayscale(100%)',
                                                 'filter': 'grayscale(100%)',
                                                 'width': '100%!important',
                                                 'display': 'block'}">
                                            </div>
                                            <!--#d8d8d8-->
                                            <div class="img-comp-img img-comp-overlay"
                                                 :style="{'background-image': ' url(https://dev2.simonechinaglia.net/dev/ristru-backend/public/storage/uploads/'+my_profile.image_before+')',
                                                 'background-size': 'cover',
                                                 'background-repeat': 'no-repeat',
                                                 'background-attachment': 'absolute',
                                                 'background-position': 'top center',
                                                 'height': '400px',
                                                 'width': '100%!important',
                                                 'display': 'block'}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="items" style="height: 400px">
                                        <div class="img-comp-container">
                                            <div class="img-comp-img"
                                                 :style="{'background-image': 'url(https://dev2.simonechinaglia.net/dev/ristru-backend/public/storage/uploads/'+my_profile.image_before+')',
                                                 'background-size': 'cover',
                                                 'background-repeat': 'no-repeat',
                                                 'background-attachment': 'absolute',
                                                 'background-position': 'top center',
                                                 'height': '400px',
                                                 '-webkit-filter': 'grayscale(100%)',
                                                 'filter': 'grayscale(100%)',
                                                 'width': '100%!important',
                                                 'display': 'block'}">
                                            </div>
                                            <!--#d8d8d8-->
                                            <div class="img-comp-img img-comp-overlay"
                                                 :style="{'background-image': ' url(https://dev2.simonechinaglia.net/dev/ristru-backend/public/storage/uploads/'+my_profile.image_before+')',
                                                 'background-size': 'cover',
                                                 'background-repeat': 'no-repeat',
                                                 'background-attachment': 'absolute',
                                                 'background-position': 'top center',
                                                 'height': '400px',
                                                 'width': '100%!important',
                                                 'display': 'block'}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="items" style="height: 400px">
                                        <div class="img-comp-container">
                                            <div class="img-comp-img"
                                                 :style="{'background-image': 'url(https://dev2.simonechinaglia.net/dev/ristru-backend/public/storage/uploads/'+my_profile.image_before+')',
                                                 'background-size': 'cover',
                                                 'background-repeat': 'no-repeat',
                                                 'background-attachment': 'absolute',
                                                 'background-position': 'top center',
                                                 'height': '400px',
                                                 '-webkit-filter': 'grayscale(100%)',
                                                 'filter': 'grayscale(100%)',
                                                 'width': '100%!important',
                                                 'display': 'block'}">
                                            </div>
                                            <!--#d8d8d8-->
                                            <div class="img-comp-img img-comp-overlay"
                                                 :style="{'background-image': ' url(https://dev2.simonechinaglia.net/dev/ristru-backend/public/storage/uploads/'+my_profile.image_before+')',
                                                 'background-size': 'cover',
                                                 'background-repeat': 'no-repeat',
                                                 'background-attachment': 'absolute',
                                                 'background-position': 'top center',
                                                 'height': '400px',
                                                 'width': '100%!important',
                                                 'display': 'block'}">
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div> 
                            <div class="clearfix"></div>
                            <div class="single_content_text clearfix">
                                <div v-if="$store.state.lang == 'it'">{{ my_profile.description_it }}</div>
                                <div v-else-if="$store.state.lang == 'en'">{{ my_profile.description_en }}</div>
                                <div v-else-if="$store.state.lang == 'de'">{{ my_profile.description_de }}</div>
                                <div v-else-if="$store.state.lang == 'py'">{{ my_profile.description_py }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="sidebar_area">
                            <div class="sidebar_title">
                                <div class="sidebar_title_inner">
                                    <h2 v-text="__('PREVENTIVO GRATUITO')"></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit.</p>
                                    <ul>
                                        <li><a href="#"><i class="material-icons">accessibility_new</i> <span v-text="__('PROGETTO VIRTUALE')"></span></a></li>
                                        <li><a href="#"><i class="material-icons">all_out</i> <span v-text="__('UNICO ARCHITETTO')"></span></a></li>
                                        <li><a href="#"><i class="material-icons">calendar_view_day</i> <span v-text="__('APPARTAMENTO GRATUITO')"></span></a></li>
                                        <li><a href="#"><i class="material-icons">eject</i> <span v-text="__('SMONTAGGIO MOBILI')"></span></a></li>
                                        <li><a href="#"><i class="material-icons">invert_colors</i> <span v-text="__('APPLICAZIONE DEDICATA')"></span></a></li>
                                        <li><a href="#"><i class="material-icons">loyalty</i> <span v-text="__('RISPETTO DEI TEMPI')"></span></a></li>
                                    </ul>
                                </div>
                                <a href="#"><span v-text="__('COMPILA IL FORM')"></span> <img src="images/arrow-right.png" alt=""></a>
                            </div>
                            <div class="sidebar_list">
                                <h2>Project details </h2>
                                <ul>
                                    <li><em v-text="__('Tipologia')"></em>: 
                                        <span v-if="$store.state.lang == 'it'" >{{ my_profile.tipologia_it }}</span>
                                        <span v-else-if="$store.state.lang == 'en'" >{{ my_profile.tipologia_en }}</span>
                                        <span v-else-if="$store.state.lang == 'de'" >{{ my_profile.tipologia_de }}</span>
                                        <span v-else-if="$store.state.lang == 'py'" >{{ my_profile.tipologia_py }}</span>
                                    </li>
                                    <li><em v-text="__('Data')"></em>: <span>{{ new Date(my_profile.created_at).getDate() }}/{{ new Date(my_profile.created_at).getMonth()+1 }}/{{ new Date(my_profile.created_at).getFullYear() }}</span></li>
                                    <li><em v-text="__('Budget')"></em>: 
                                        <span v-if="$store.state.lang == 'it'" >{{ my_profile.price_it }}</span>
                                        <span v-else-if="$store.state.lang == 'en'" >{{ my_profile.price_en }}</span>
                                        <span v-else-if="$store.state.lang == 'de'" >{{ my_profile.price_de }}</span>
                                        <span v-else-if="$store.state.lang == 'py'" >{{ my_profile.price_py }}</span>
                                    </li>
                                    <li><em v-text="__('Città')"></em>: 
                                        <span v-if="$store.state.lang == 'it'" >{{ my_profile.location_it }}</span>
                                        <span v-else-if="$store.state.lang == 'en'" >{{ my_profile.location_en }}</span>
                                        <span v-else-if="$store.state.lang == 'de'" >{{ my_profile.location_de }}</span>
                                        <span v-else-if="$store.state.lang == 'py'" >{{ my_profile.location_py }}</span>
                                    </li>
                                    <li><em v-text="__('Superficie')"></em>: 
                                        <span v-if="$store.state.lang == 'it'" >{{ my_profile.mq_it }}</span>
                                        <span v-else-if="$store.state.lang == 'en'" >{{ my_profile.mq_en }}</span>
                                        <span v-else-if="$store.state.lang == 'de'" >{{my_profile.mq_de }}</span>
                                        <span v-else-if="$store.state.lang == 'py'" >{{ my_profile.mq_py }}</span>
                                    </li>
                                    <li><em v-text="__('Consegna')"></em>: 
                                        <span v-if="$store.state.lang == 'it'" >{{ my_profile.network_it }}</span>
                                        <span v-else-if="$store.state.lang == 'en'" >{{ my_profile.network_en }}</span>
                                        <span v-else-if="$store.state.lang == 'de'" >{{ my_profile.network_de }}</span>
                                        <span v-else-if="$store.state.lang == 'py'" >{{ my_profile.network_py }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar_list sidebar_list2">
                                <ul>
                                    <li><em v-text="__('Condividi')"></em>: <span>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                    </span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =========================
            END RECENT RENOVATIONS SECTION
        ============================== -->
    </div>
</template>


<script>
    import Vue from 'vue'
    import axios from 'axios'
    import VueAxios from 'vue-axios'
    Vue.use(VueAxios, axios);
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 0, 
                my_profile: {},
                data: {}
            }
        },
        mounted(){
		// if (this.profile.length) {
             //   this.my_profile = this.profile.find((profile) => my_profile.id == this.$route.params.id);
           // } else {
                axios.get(`https://dev2.simonechinaglia.net/dev/ristru-backend/api/profile/${this.$route.params.title}/${this.$route.params.id}`)
                    .then((response) => {
                        this.my_profile = response.data.profile
                        console.log(this.my_profile);
                    });
           // }
	
          	function initComparisons() {
                console.log('Its working');
              var x, i;
              /*find all elements with an "overlay" class:*/
              x = document.getElementsByClassName("img-comp-overlay");
              for (i = 0; i < x.length; i++) {
                /*once for each "overlay" element:
                pass the "overlay" element as a parameter when executing the compareImages function:*/
                compareImages(x[i]);
              }
              function compareImages(img) {
                var slider, img, clicked = 0, w, h;
                /*get the width and height of the img element*/
                w = img.offsetWidth;
                h = img.offsetHeight;
                /*set the width of the img element to 50%:*/
                img.style.width = (w / 2) + "px";
                /*create slider:*/
                slider = document.createElement("DIV");
                slider.setAttribute("class", "img-comp-slider");
                /*insert slider*/
                img.parentElement.insertBefore(slider, img);
                /*position the slider in the middle:*/
                slider.style.top = (h / 2) - (slider.offsetHeight / 2) + "px";
                slider.style.left = (w / 2) - (slider.offsetWidth / 2) + "px";
                /*execute a function when the mouse button is pressed:*/
                slider.addEventListener("mousedown", slideReady);
                /*and another function when the mouse button is released:*/
                window.addEventListener("mouseup", slideFinish);
                /*or touched (for touch screens:*/
                slider.addEventListener("touchstart", slideReady);
                /*and released (for touch screens:*/
                window.addEventListener("touchstop", slideFinish);
                function slideReady(e) {
                  /*prevent any other actions that may occur when moving over the image:*/
                  e.preventDefault();
                  /*the slider is now clicked and ready to move:*/
                  clicked = 1;
                  /*execute a function when the slider is moved:*/
                  window.addEventListener("mousemove", slideMove);
                  window.addEventListener("touchmove", slideMove);
                }
                function slideFinish() {
                  /*the slider is no longer clicked:*/
                  clicked = 0;
                }
                function slideMove(e) {
                  var pos;
                  /*if the slider is no longer clicked, exit this function:*/
                  if (clicked == 0) return false;
                  /*get the cursor's x position:*/
                  pos = getCursorPos(e)
                  /*prevent the slider from being positioned outside the image:*/
                  if (pos < 0) pos = 0;
                  if (pos > w) pos = w;
                  /*execute a function that will resize the overlay image according to the cursor:*/
                  slide(pos);
                }
                function getCursorPos(e) {
                  var a, x = 0;
                  e = e || window.event;
                  /*get the x positions of the image:*/
                  a = img.getBoundingClientRect();
                  /*calculate the cursor's x coordinate, relative to the image:*/
                  x = e.pageX - a.left;
                  /*consider any page scrolling:*/
                  x = x - window.pageXOffset;
                  return x;
                }
                function slide(x) {
                  /*resize the image:*/
                  img.style.width = x + "px";
                  /*position the slider:*/
                  slider.style.left = img.offsetWidth - (slider.offsetWidth / 2) + "px";
                }
              }
            }

            $(function () {
                var single_page_slider = jQuery("#single_page_slider");
                single_page_slider.owlCarousel({
                        loop: false,
                        margin: 0,
                        smartSpeed: 1500,                
                        autoplay:false,
                        touchDrag: false,
                        mouseDrag: false,
                        pullDrag: false,
                        freeDrag: false,
                        nav: true,
                        dots:true,
                        navText: ['<img src="'+core.Asset_Path+'images/arrow-left.png">','<img src="'+core.Asset_Path+'images/arrow-right.png">'],
                        responsive: {
                                0: {
                                    items: 1
                                },
                                400: {
                                    items: 1
                                },
                                768: {
                                    items: 1
                                },
                                1200: {
                                    items: 1
                                }
                            }
                        }).on("dragged.owl.carousel", function (event) {
                    console.log('event : ',event.relatedTarget['_drag']['direction'])
                });

                initComparisons();

            });
        },
        created() {
            // if (this.profile.length) {
            //     this.my_profile = this.profile.find((profile) => my_profile.id == this.$route.params.id);
            // } else {
            //     axios.get(`https://dev2.simonechinaglia.net/dev/ristru-backend/api/profile/${this.$route.params.title}/${this.$route.params.id}`)
            //         .then((response) => {
            //             this.my_profile = response.data.profile
            //             console.log(this.my_profile);
            //         });
            // }
        },
        computed: {
            profile() {
                return this.$store.getters.profiles;
            }
        }
    }
</script>
