<template>
    <div>
        <topNav></topNav>
        <banner></banner>

        <restructure></restructure>
        <renovations></renovations>
        <renovation_slider></renovation_slider>

        <quote></quote>
        <testimonial></testimonial>
        <social></social>
        <brand></brand>
        <footer_all></footer_all>
    </div>
</template>

<script>
    import topNav from './global/_topbar.vue';
    import banner from './global/_banner_all.vue';
    import form1 from './global/_welcome_form_1.vue';

    import restructure from './global/pageSingle/_restructure_page.vue';
    import renovations from './global/pageSingle/_restructure_page_2.vue';
    import renovation_slider from './global/_renovations_slider.vue';


    import quote from './global/_quote_home.vue';
    import testimonial from './global/_testimonial_home.vue';
    import social from './global/_social_home.vue';
    import brand from './global/_brand_home.vue';
    import footer_all from './global/_footer.vue';
    export default {
        name: 'page_single',
        data() {
            return {

            }
        },
        components: {topNav,banner,form1,restructure,renovations,renovation_slider,quote,testimonial,social,brand,footer_all}
    }
</script>
