/*
=======================================================================
[Table of contents]
=========================================================================
01. COMMON STYLES
02. HEADER
03. NAV
04. WELCOME SECTION
*/

/*---------------------------------------
COMMON STYLES
-----------------------------------------*/
.hidden{
  display:none;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}
a:hover, a:focus {
    box-shadow: 0 0px transparent;
    text-decoration: none!important;
    color: inherit;
}
.no-padding{
    padding-left: 0;
    padding-right: 0;
}
.no-padding-left{
    padding-left: 0;
}
.no-padding-right{
    padding-right: 0;

}
@media(max-width: 767px){
    .hide-xs{
        display: none;
    }
}

/*---------------------------------------
    HEADER
-----------------------------------------*/
.header_area{}
.header_top{
  background-color: #f19833;
  height: 7px;
}
.header_top{}
.header_top_inner{
    position: relative;
    padding: 17px 0px;
    padding-left: 33px;
}
.header_top_inner{}
.header_top_img {
    position: absolute;
    top: 22px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #f3981c;
    border-radius: 100%;
    text-align: center;
}
.header_top_img img{
    vertical-align: initial;
}
.header_top_inner p {
    color: #f4981d;
    font-size: 9px;
    font-weight: 600;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.header_top_inner p span{
    display: block;
}
.header_top_inner p span a{
    color: #4a4a4a;
    font-size: 12px;
    font-weight: 600;
    text-decoration: underline;
}
.cross_ic{
    position: absolute;
    top: 25px;
    right: 0;
    cursor: pointer;
}
.menu_ic{
    position: absolute;
    top: 25px;
    right: 0;
    cursor: pointer;
}

.lang_ic{
    position: absolute;
    top: 25px;
    right: 0;
}
.lang_ic button,.lang_ic button:hover,.lang_ic button:focus,.lang_ic button:active{
    color: #757575!important;
    background-color: transparent!important;
    border-color: transparent!important;
    padding-right: 0;
    outline: 0;
    box-shadow: none!important;
    border:none!important;
}
/*.lang_ic button:not(.disabled):active{
    color: #757575;
}*/
.dropdown-menu {
    left: auto;
    right: 0;
    padding: 18px 0px;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: transparent;
    color: #444444;
    font-size: 13px;
    font-weight: 900;
}
.dropdown-item,.dropdown-item:hover,.dropdown-item:focus {
    background-color: transparent;
    color: #444444;
    font-size: 13px;
    font-weight: 900;
}
.dropdown-item img{
    margin-right: 10px;
}
/*.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}*/
.header_container{
    position: relative;
}
.navbar-nav .nav-link {
    text-shadow: 0 1px 0 #ffffff;
    color: #4a4a4a!important;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 22px!important;
}
.navbar-nav .nav-item{
    position: relative;
}
.navbar-nav .nav-item:last-child a {
    position: relative;
    padding-left: 28px!important;
}
.navbar-nav .nav-item:last-child span{
    width: 21px;
    height: 21px;
    background-color: #ff2c2c;
    opacity: 0.82;
    position: absolute;
    top: -1px;
    right: 1px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    padding-top: 2px;
    font-size: 13px;
}
.navbar-nav .nav-item:last-child span span{
height: 8px;
width: 8px;
background-color: #fff;
border-radius: 50%;
display: inline-block;
margin: 7px 5px;
opacity: 1;
}
.navbar{
    width: 100%;
}
.navbar{}
/*.dropdown:hover>.dropdown-menu {
  display: block;
}*/

@media(min-width: 992px){
    .ph{
        position: absolute;
        top: 14px;
        right: 69px;
    }
}
@media(max-width: 991px){
    .navbar-nav .nav-item:last-child span{
        display: none;
    }
    .navbar-nav .nav-item {
        position: static;
    }
    .ph{
        display: none;
    }
    .menu_ic {
        display: none;
    }
    .cross_ic {
        display: none;
    }
    .lang_ic {
        position: absolute;
        top: 25px;
        right: auto;
        left: 160px;
    }
}
@media(max-width: 767px){
    .header_top_inner p span a {
        font-size: 10px;
    }

}



/*---------------------------------------
    BANNER AREA
-----------------------------------------*/
.banner_area{
    background:  url(../images/homepage-slider.jpg) no-repeat center center;
    position: relative;
    overflow: hidden;
   /* padding: 21px 0px 80px;*/
    background-size: cover;
}
.banner_layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color : rgba(252, 178, 75, 0.86)
}
.banner_area:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    content: "";
    background: #69a17f;
    z-index: 1;
}
.banner_area:after{
    position: absolute;
    top: -193px;
    left: 0;
    width: 40%;
    height: 185%;
    content: "";
    background: #69a17f;
    transform: rotate(25deg);

}
.banner_area{}
.banner_left{
    position: relative;
    z-index: 1;
    color: #fff;
}
.banner_left{
    padding: 50px 0px;
}
.banner_left p{
  font-size: 13px;
  color: #fff;
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.banner_left h2{
  font-size: 37px;
  color: #fff;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
}
.banner_left h3{
  font-size: 16px;
  color: #fff;
  margin: 10px 0px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.banner_left ul li .claim-gratuito {
  font-weight: 900;
}
.banner_left ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}
.banner_left ul li{
  position: relative;
  padding-left: 25px;
  margin: 7px 0px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}
.banner_left ul li:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: #f19833 url(../images/check.png) no-repeat left 4px top 2px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
.banner_right{
    padding: 100px 50px;
}
.banner_right{}

.banner_checkbox{
    text-align: center;
    height: 106px;
    border-bottom: 6px solid #000000;
}
.banner_checkbox ._ttl{
    display: block;
    font-size: 21px;
    color: #444444;
    padding-top: 15px;
  text-align: left;
  font-weight: 900;
}
.banner_checkbox ._slgn{
  display: block;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  text-align: left;
}

.banner_checkbox [type="checkbox"]:not(:checked),
.banner_checkbox [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.banner_checkbox [type="checkbox"]:not(:checked) + label,
.banner_checkbox [type="checkbox"]:checked + label {
    position: relative;
    cursor: pointer;
    padding-top: 40px;
}

/* checkbox aspect */
.banner_checkbox [type="checkbox"]:not(:checked) + label:before,
.banner_checkbox [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 2px;
    width: 12px;
    height: 12px;
    border: 2px solid #444444;
    background: transparent;
    border-radius: 100%;
}
/* checked mark aspect */
.banner_checkbox [type="checkbox"]:not(:checked) + label:after,
.banner_checkbox [type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 1px;
    left: 51%;
    font-size: 13px;
    line-height: 0.8;
    color: #fff;
    transition: all .2s;
    box-shadow: none;
}
/* checked mark aspect changes */
.banner_checkbox [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.banner_checkbox [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.banner_checkbox [type="checkbox"]:disabled:not(:checked) + label:before,
.banner_checkbox [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.banner_checkbox [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.banner_checkbox [type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
.banner_checkbox [type="checkbox"]:checked:focus + label:before,
.banner_checkbox [type="checkbox"]:not(:checked):focus + label:before {
    border: 2px solid #444444;
}

/* hover style just for information */
.banner_checkbox label span{
    display: block;
    font-size: 21px;
    color: #444444;
    margin-top: 15px;
}
.banner_checkbox label.test2 span{
    font-style: italic;
}
.banner_checkbox a i{
    position: absolute;
    top: 5px;
    right: 5px;
}
.banner_checkbox a{
  background: #50a680;
  display: inline-block;
  font-size: 14px;
  color: #fff;
  padding: 7px 9px;
  border-radius: 3px;
  position: relative;
  -webkit-box-shadow: 0px 7px 22px -12px rgba(0,0,0,1);
  -moz-box-shadow: 0px 7px 22px -12px rgba(0,0,0,1);
  box-shadow: 0px 7px 22px -12px rgba(0,0,0,1);
  position: relative;
  top: 0px;
  right: 8px;
  text-transform: uppercase;
  font-weight: 900;
  width: 200px;
  padding-right: 35px;

}
.banner_checkbox label{
    text-align: center;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    height: 100px;
    width: 113px;
}
.showshawdow{
    background: url(../images/Rectangle.png);
    background-size: cover;
}
.showshawdow{}
/*.banner_checkbox label:hover:before {
  border: 1px solid #ccc!important;
}*/

@media(max-width: 767px){
    .banner_area{
        padding: 0;
    }
    .banner_area .container{
        padding-left: 0;
        padding-right: 0;
    }
    .banner_area .row{
        margin-left: 0;
        margin-right: 0;
    }
    .banner_area:before,.banner_area:after{
        display: none;
    }
    .banner_area .col-md-4{
        padding-left: 0;
        padding-right: 0;
    }
    .banner_left{
        background: #444444;
        padding: 30px;
    }
    .banner_left ul{
        display: none;
    }
    .banner_right {
        display: none;
    }
    .banner_area:before{}
}
/*---------------------------------------
    WELCOME FORM AREA
-----------------------------------------*/

.welcome_form_area{
    position: relative;
    margin-top: -90px;
    z-index: 2;
}
.welcome_form_inner{
    max-width: 760px;
    margin: 0 auto;
    position: relative;
    -webkit-box-shadow: 0px 7px 22px -8px rgba(0,0,0,1);
    -moz-box-shadow: 0px 7px 22px -8px rgba(0,0,0,1);
    box-shadow: 0px 7px 22px -8px rgba(0,0,0,1);
    padding: 20px;
    padding-bottom: 1px;
    padding-top: 35px;
    background: #fff;
    border: 4px solid #f19833;
    border-radius: 5px;
}
.welcome_form_inner:after{
    position: absolute;
    top: 1px;
    right: -9px;
    content: "";
    background: #444444;
    width: 9px;
    height: 24px;
    transform: rotate(114deg);
    z-index: -1;
}
.welcome_form_inner > h2{
  font-size: 20px;
  color: #f19833;
  font-weight: 600;
  margin-top: -23px;
  text-transform: uppercase;
}
.welcome_form_inner > p{
    font-size: 12px;
    color: #f19833;
    margin-bottom: 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.welcome_form_inner .form-control#inputState {
    height: 34px;
    opacity: .7;
}
.welcome_form_inner .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    background-color: transparent;
    border:0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0;
    height: 34px;
    padding-left: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.welcome_form_inner .form-control:focus {
    outline: 0;
    box-shadow: none;
    border-bottom: 2px solid #f19833;
    font-size: 16px;
}
.welcome_form_inner > h2{}
.welcome_form_inner .form-check{
    padding-right: 200px;
}
.welcome_form_inner .form-check label{
  font-size: 12px;
  color: #4a4a4a;
  font-family: 'PT Sans', sans-serif;
  line-height: 16px;
}
.welcome_form_inner .form-check{}
.welcome_form_inner button,.welcome_form_inner button:focus{
  position: relative;
  float: right;
  bottom: 9px;
  font-size: 14px;
  background: #f19833;
  border: none;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: -41px;
}
.welcome_form_inner button:hover{
  background: #444;
}
.welcome_form_inner{}
.welcome_form_inner > span{
  position: absolute;
  top: 14px;
  right: -18px;
  display: inline-block;
  background: #50a680;
  width: 139px;
  height: 24px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 2px;
  color: #fff;
  font-weight: 900;

}
.md-field label {
  font-size: 14px;
}
.welcome_form_inner > span{}

@media(max-width: 767px){
    .welcome_form_area {
        position: relative;
        margin-top: 0;
        z-index: 2;
        background: #f19833;
        padding: 15px;
    }
    .welcome_form_inner .form-check {
        padding-right: 0;
    }
    .welcome_form_inner button, .welcome_form_inner button:hover, .welcome_form_inner button:focus {
        position: relative;
        right: auto;
        bottom: auto;
        font-size: 14px;
        background: #f19833;
        border: none;
        float: right;
    }
    .welcome_form_inner {
        padding-bottom: 49px;
    }
}
/*---------------------------------------
    RESTRUCTURE AREA
-----------------------------------------*/
.restructure_area{
    margin-bottom: 50px;
}
.common_title{
    margin-top: 50px;
}
.common_title span.dots{
    position: relative;
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #f19833;
    border-radius: 100%;
}
.common_title span.dots:before{
    position: absolute;
    content: "";
    top: 0;
    left: -8px;
    width: 5px;
    height: 5px;
    background: #f19833;
    border-radius: 100%;
}
.common_title span.dots:after{
    position: absolute;
    content: "";
    top: 0;
    right: -8px;
    width: 5px;
    height: 5px;
    background: #f19833;
    border-radius: 100%;
}
.common_title h3{
  font-size: 12px;
  color: #f0a032;
  font-weight: 900;
  line-height: 0;
}
.common_title h2{
  font-size: 36px;
  color: #444444;
  font-weight: 900;
  margin-bottom: 0;
}
.common_title p{
  font-size: 16px;
  color: #444444;
  font-family: 'PT Sans', sans-serif;
}
.common_title{}
.restructure_video{}
.restructure_content{
    background: #f19833;
    position: relative;
    margin-top: -191px;
    padding-top: 259px;
    z-index: 1;
  padding-bottom: 30px;
}
.restructure_video{
    max-width: 737px;
    margin: 0 auto;
    width: 100%;
    margin-top: 10px;
    position: relative;
    z-index: 2
}
.restructure_video video{

}
.restructure_content_inner{
    text-align: center;
}
/*.restructure_content_inner i{
    font-size: 60px;
    color: #fff;
}*/
.restructure_content_inner img{
    height: 50px;
    width: auto!important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
}
.restructure_content_inner h2{
  font-size: 24px;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
}
.restructure_content_inner p{
    font-size: 16px;
    color: #fff;
    line-height: 20px;
  font-family: 'PT Sans', sans-serif;

}
.restructure_content_inner{
  margin-bottom: 60px;
}


@media(min-width: 768px){
    .restructure_content_desktop{}
    .restructure_content_mobile{
        display: none;
    }
}
@media(max-width: 767px){
    .restructure_content_desktop{
        display: none;
    }
    .restructure_content_mobile{}
    #restructure_slider.owl-theme .owl-nav{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    #restructure_slider.owl-theme .owl-nav .owl-prev {
        position: absolute;
        top: 0;
        left: 25px;
        margin: 0;

    }
    #restructure_slider.owl-theme .owl-nav .owl-next {
        position: absolute;
        top: 0;
        right: 25px;
        margin: 0;
    }
    .restructure_content_inner h2 {
        font-size: 20px;
    }
}

/*---------------------------------------
    RECENT RENOVATIONS AREA
-----------------------------------------*/
.recent_renovations_area{
    max-width: 698px;
    margin: 0 auto;
}
.recent_renovations_inner{
    background: #f9f9f9;
    padding: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
}
.recent_renovations_inner h3{
    font-size: 12px;
    color: #444444;
    font-weight: 400;
}
.recent_renovations_inner h2{
    font-size: 24px;
    color: #444444;
    font-weight: 700;
}
.recent_renovations_inner p{
  font-size: 13px;
  color: #444444;
  line-height: 18px;
  min-height: 82px;
  font-family: pt sans;
  text-align: justify;
}
.recent_renovations_inner a:nth-of-type(1){
    font-size: 14px;
    background: #f19833;
    border: none;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    width: 160px;
    height: 26px;
    text-align: center;
    padding-top: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 7px 22px -8px rgba(0,0,0,1);
    -moz-box-shadow: 0px 7px 22px -8px rgba(0,0,0,1);
    box-shadow: 0px 7px 22px -8px rgba(0,0,0,1);
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;

}
.recent_renovations_inner a:nth-of-type(1):hover{
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    background: #444;

}
.recent_renovations_inner a:nth-of-type(2){
    position: absolute;
    right: -14px;
    bottom: -32px;
    background: #f19833;
    color: #fff;
    width: 31px;
    height: 90px;
    transform: rotate(224deg);
}
.recent_renovations_inner a:nth-of-type(2) span{
    position: absolute;
    top: 27px;
    left: 17px;
    transform: rotate(45deg);
}
.recent_renovations_inner span{}

@media(min-width: 768px){
    .recent_renovations_mobile{
        display: none;
    }
}
@media(max-width: 767px){
    .recent_renovations_mobile{
        padding: 25px;
    }
    .recent_renovations_desktop{
        display: none;
    }
    .recent_renovations_img{
        position: relative;
        overflow: hidden;
    }
    .recent_renovations_img img{
        width: 100%;
    }
    .recent_renovations_inner a:nth-of-type(2) {
        display: none;
    }
    .recent_renovations_img:after{
        position: absolute;
        content: "";
        right: -14px;
        bottom: -32px;
        background: #f19833;
        color: #fff;
        width: 31px;
        height: 90px;
        transform: rotate(224deg);
    }
    #recent_renovations_slider.owl-theme .owl-nav{
        position: absolute;
        top: 20%;
        left: 0;
        width: 100%;
    }
    #recent_renovations_slider.owl-theme .owl-nav .owl-prev {
        position: absolute;
        top: 0;
        left: 0px;
        margin: 0;

    }
    #recent_renovations_slider.owl-theme .owl-nav .owl-next {
        position: absolute;
        top: 0;
        right: 0px;
        margin: 0;
    }
    .recent_renovations_inner a:nth-of-type(1){
        float: right;
    }

}
/*---------------------------------------
    FREE QUOTE AREA
-----------------------------------------*/
.free_quote_area{
    background: #fdedd6;
    padding-top: 40px;
}
.free_quote_area h2{
  font-size: 30px;
  color: #444444;
  font-weight: 900;
  margin-bottom: 4px;

}
.free_quote_area p{
    font-size: 16px;
    color: #444444;
    margin-bottom: 45px;
}
.free_quote_bottom {
    position: relative;
}
.free_quote_bottom:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: #444444;
}
.free_quote_bottom:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: #f19833;
}
.free_quote_bottom_inner a {
  color: #ffffff;
  font-family: pt sans;
  font-weight: 900;
  font-size: 15px;
}
.free_quote_bottom .container {
    max-width: 620px;
}
.free_quote_bottom_inner2{
    position: relative;
    z-index: 2;
}
.free_quote_bottom_inner2{}
.free_quote_bottom_inner2 a i{
    color: #fff
}
.free_quote_bottom_inner2 a{
    color: #ffffff
}
.free_quote_bottom_inner{
    padding: 3px 0px 10px 20px;
}
.free_quote_bottom_inner a i {
    display: inline-block;
    display: inline-block;
    top: 6px;
    position: relative;
}


@media(max-width: 767px){
    .free_quote_area{}
    .free_quote_area{}
    .free_quote_container{
        padding-left: 0;
        padding-right: 0;
    }
    .free_quote_container .row{
        margin-left: 0;
        margin-right: 0;
    }
    .free_quote_container .row .col-md-6{
        padding-left: 0;
        padding-right: 0;
    }
    .free_quote_bottom_inner{
        background: #f19833;
    }
    .free_quote_bottom_inner2 a{
        color: #fff;
    }
    .free_quote_bottom_inner2 a i{
        color: #fff;
    }
    .free_quote_bottom_inner2{
        background: #444444;
    }
    .free_quote_bottom:after ,.free_quote_bottom:before{
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        height: 100%;
        width: 50%;
        background: #f19833;
        display: none;
    }
    .free_quote_bottom_inner {
        padding: 6px 0px 13px;
        text-align: center;
    }
}

/*---------------------------------------
    RECENT TESTIMONIAL AREA
-----------------------------------------*/
.testimonial_area{
    position: relative;
    z-index: 2;
    max-width: 760px;
    margin: 0 auto;
}
.testimonial_area{}

 #testimonail_slider .author{
   display: block;
   font-weight: 900;
   margin-top: 17px;
   opacity: .5;

}
#testimonail_slider{
  margin-top: 20px;
}
#testimonail_slider .container{
    max-width: 760px;
}
/*#testimonail_slider .testimonial_text:after{
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    width: 100px;
    height: 50px;
    background: #fff;
    z-index: 2;
}*/
#testimonail_slider .testimonial_text{
    text-align: center;
    background: #f7f7f7;
    padding: 38px 20px 1px;
    position: relative;
  font-family: pt sans;
}
#testimonail_slider .testimonial_text img{
    position: absolute;
    top: -3px;
    left: 15px;
    width: 91px!important;
}
#testimonail_slider .testimonial_text h2{
    font-size: 18px;
    color: #444444;
    font-weight: 600;
}
#testimonail_slider .testimonial_text p{
    font-size: 14px;
    line-height: 20px;
}
#testimonail_slider .testimonial_text p{}
#testimonail_slider p{}
#testimonail_slider p{}
#testimonail_slider img{
    width: auto!important;
}
#testimonail_slider .owl-dots {
    display: block!important;
    position: absolute;
    right: 140px;
    bottom: 4px;
}
#testimonail_slider .owl-dots .owl-dot:focus {
    outline: 0;
}
#testimonail_slider .owl-dots .owl-dot span{
    width: 5px;
    height: 5px;
    margin: 5px 2px;
    background: transparent;
    border: 1px solid #edb25f;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 100%;
}
#testimonail_slider .owl-dots .owl-dot.active span{
    background: #edb25f;
    border: 1px solid #edb25f;
}
#testimonail_slider .owl-dots .owl-dot{}

@media(max-width: 767px){
    #testimonail_slider .col-md-4{
        display: none;
    }
    #testimonail_slider .owl-dots {
        display: block!important;
        position: absolute;
        right: 40px;
        bottom: auto;
        top: 0;
    }
    #testimonail_slider .col-md-4{}
}
/*---------------------------------------
    SOCIAL AREA
-----------------------------------------*/
.social_area{
    background: #3d3d3d;
    position: relative;
    z-index: 1;
    padding: 50px 0px;
    margin-top: -24px;
    padding-top: 70px;
}
.social_area:after {
position: absolute;
    top: 4px;
    left: 43%;
    content: "";
    border-color: #f7f7f7 transparent transparent #f7f7f7;
    border-width: 37px;
    border-style: solid;
    width: 0px;
    height: 0px;
    z-index: 2;
    transform: rotate(74deg);
}
.social_area h2{
    font-size: 36px;
    color: #ffffff;
    font-weight: 700;
}
.social_area p{
    font-size: 15px;
    color: #ffffff;
    line-height: 20px;
}
.social_icon {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}
.social_icon li{
    display: inline-block;
}
.social_icon li a{
    display: block;
    font-size: 21px;
    color: #3d3d3d;
    background: #f19833;
    border-radius: 5px;
    padding: 5px 10px;
    line-height: 0;
    margin: 0px 10px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.social_icon li a:hover{
    color: #3d3d3d;
    background: #f7f7f7;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.social_icon li a i{
    /*color: #3d3d3d;
    background: #f19833;*/
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

@media(max-width: 767px){
    .social_area {
        background: #3d3d3d;
        position: relative;
        z-index: 1;
        padding: 50px 0px;
        margin-top: 0;
        padding-top: 80px;
    }
    .social_area:after {
        position: absolute;
        top: -12px;
        left: auto;
        content: "";
        border-color: #f7f7f7 transparent transparent #f7f7f7;
        border-width: 37px;
        border-style: solid;
        width: 0px;
        height: 0px;
        z-index: 2;
        transform: rotate(74deg);
        right: 50px;
    }
    .social_area h2 {
        font-size: 24px;
        color: #ffffff;
        font-weight: 700;
        text-align: left;
    }
    .social_area p {
        display: none;
    }
    .social_icon {
        margin-top: 35px;
    }
}
/*---------------------------------------
    BRAND AREA
-----------------------------------------*/
.brand_area{
    padding: 50px 0px;
}
#brand_slider{}
#brand_slider img{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
#brand_slider img{}
#brand_slider.owl-theme .owl-nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}
#brand_slider.owl-theme .owl-nav .owl-prev {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;

}
#brand_slider.owl-theme .owl-nav .owl-next {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}
#brand_slider.owl-theme .owl-nav .owl-prev {}
#brand_slider.owl-theme .owl-nav [class*='owl-'] {}
#brand_slider.owl-theme .owl-nav [class*='owl-'],
#brand_slider.owl-theme .owl-nav [class*='owl-']:hover ,
#brand_slider.owl-theme .owl-nav [class*='owl-']:foucs{
    background: transparent!important;
    color: #FFF;
    text-decoration: none;
    outline: 0;
}
.owl-theme .owl-nav [class*='owl-']:focus,.owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent!important;
    color: #FFF;
    text-decoration: none;
    outline: 0;
}
@media(max-width: 767px){
    #brand_slider.owl-theme .owl-nav{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: block;
    }
}
/*---------------------------------------
    FOOTER AREA
-----------------------------------------*/
.footer_area{
    background: #fdedd6;
}
.footer_top{
    padding-top: 50px;
    padding-bottom: 70px;
}
.footer_logo > a{
    display: block;
    margin-bottom: 15px;
}
.footer_logo p{}
.footer_logo {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer_logo li{
    display: inline-block;
}
.footer_logo li:first-child a{
    margin-left: 0px;
}
.footer_logo li a{
    display: block;
    font-size: 14px;
    color: #fff;
    background: #f19833;
    border-radius: 5px;
    padding: 5px;
    line-height: 0;
    margin: 0px 5px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.footer_logo li a:hover{
    color: #fdedd6;
    background: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.footer_logo li a i{
    /*color: #3d3d3d;
    background: #f19833;*/
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.footer_menu{
  font-size: 14px;
}
.footer_menu h2{
    font-size: 14px;
    color: #444444;
    font-weight: 700;
}
.footer_menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer_menu ul li{
    position: relative;
    padding-left: 15px;
}
.footer_menu ul li:after{
    position: absolute;
    top: 8px;
    left: 0px;
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #444444;
}
.footer_menu ul li a{
  font-size: 14px;
  color: #444444;
  font-weight: 400;
  padding: 4px 0px;
  display: block;
}
.footer_menu ul li a:hover{
color:#f19833;
}
.footer_menu img{
    margin-top: 10px;
    width: 100%;
}
.footer_bottom{
    background: #fff;
    padding: 30px 0px 20px;
}
.footer_bottom .copyright{
    font-size: 12px;
    color: #444444;
    line-height: 25px;
}
.footer_bottom .copyright p{
  margin-bottom: 0;
  line-height: 17px;
  font-family: pt sans;
  font-size: 13px;
}
.footer_bottom .copyright p b{
    font-weight: 900;
}
.f_right{
    text-align: right;
  margin-bottom: 0;
  line-height: 17px;
  opacity: .5;
  font-weight: 900;
  font-family: pt sans;
}
.f_right p span{
    color: #e93737;
}
.f_right p{
    margin-bottom: 0;
    line-height: 17px;
}
.f_right a{
    font-size: 12px;
    color: #444444;
    font-weight: 900;
    text-decoration: underline;
  font-family: pt sans;

}


@media(max-width: 767px){
    .footer_menu {
        margin-top: 40px;
    }
    .f_right {
        text-align: center;
        margin-top: 25px;
    }
}



/*****************************************
        ARCHITECT PAGE
******************************************/

/*-----------------------------------------
ARCHITECH BANNER
-------------------------------------------*/
.bredcrumbs_banner.banner_area {
    padding: 21px 0px 40px;
}

.bredcrums_area{}
.bredcrums_area .breadcrumb{
    text-align: right;
    float: right;
    background: transparent;
    padding-top: 115px;
    padding-right: 0;
    margin-right: -15px;
}
.bredcrums_area .breadcrumb li{
    font-size: 12px;
    color: #444444;
}
.bredcrums_area .breadcrumb li a{
  font-size: 15px;
  color: #ffffff;
  font-weight: 900;
}
.bredcrums_area .breadcrumb {}
.breadcrumb{}
/*---------------------------
ARCHITECT CONTENT AREA
-----------------------------*/

.architect_content_area{}
.architect_content_title h2{
    font-size: 20px;
    color: #444444;
    font-weight: 700;
    margin-bottom: 50px;
}
.architect_content_inner{}
.architect_content_img{
    position: relative;
    /*max-width: 174px;*/
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 50px;
}
.architect_content_img:after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(246, 178, 83, .48);
    content: "";
    opacity: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.architect_content_img a{
    display: block;
}
.architect_content_img a img{
    border-radius: 50%;
    width: 100%;
}
.architect_content_img a img{}
.architect_content_img_inner{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    z-index: 1;
    opacity: 0;
}
.architect_content_img_inner h2{
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 0;
}
.architect_content_img_inner p{
    font-size: 11px;
    color: #ffffff;
    font-weight: 700;
}
.architect_content_img:hover:after{
    opacity: 1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.architect_content_img:hover .architect_content_img_inner{
    opacity: 1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

/*.architect_custom_container .architect_content_img{
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 50px;
    border: 1px solid #979797;
}*/
.architect_custom_container{}

@media(max-width: 767px){
    .bredcrumbs_banner.banner_area {
        padding: 0px;
    }
    .bredcrums_area .breadcrumb {
        text-align: left;
        float: left;
        background: transparent;
        padding-top: 32px;
        padding-right: 0;
        margin-right: -15px;
    }

}


/******************************
PORTFOLIO PAGE
*******************************/
.portfolio_content_area{
    margin-bottom: 50px;
}
.portfolio_content_title{}
.portfolio_content_title .breadcrumb{
    background: transparent;
    padding-left: 0;
    display: inline-block;
    border-bottom: 1px solid #979797;
    padding: 7px 0px;
    border-radius: 0;
    margin-bottom: 30px;
    margin-left: -7.5px;
}
.portfolio_content_title .breadcrumb li{
    font-size: 14px;
    color: #444444;
    font-weight: 400;
    display: inline-block;
}
.portfolio_content_title .breadcrumb li:first-child a{
    font-weight: 700;
}
.portfolio_content_title .breadcrumb li a{
    font-size: 18px;
    color: #444444;
    font-weight: 400;
}
.portfolio_content_inner{}
.portfolio_content_img{}
.portfolio_content_img{
    position: relative;
    margin-bottom: 15px;
}
.portfolio_content_img:after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(246, 178, 83, .88);
    content: "";
    opacity: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

}
.portfolio_content_img img{
    width: 100%;
}
.portfolio_content_img img{}
.portfolio_content_img_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 100%;
    z-index: 1;
    opacity: 0;
    padding: 20px;

}
.portfolio_content_img_inner h2{
    font-size: 24px;
    color: #373737;
    font-weight: 700;
}
.portfolio_content_img_inner p{
    font-size: 14px;
    color: #373737;
}
.portfolio_content_img_inner ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
.portfolio_content_img_inner ul li{
    display: inline-block;
}
.portfolio_content_img_inner ul li a i{
    color: #323232;
    font-size: 16px;
}
.portfolio_content_img_inner ul li:first-child a {
    padding-left: 0;
}
.portfolio_content_img_inner ul li:last-child a {
    border-right: none;
}
.portfolio_content_img_inner ul li a {
    display: block;
    font-size: 10px;
    color: #373737;
    border-right: 1px solid #424242;
    text-align: center;
    padding: 0px 9px;
}
.portfolio_content_img_inner ul li a span{
    display: block;
}
.portfolio_content_img_inner ul li a span{}
.portfolio_content_img_inner a.portfoio_btn{
    font-size: 14px;
    color: #373737;
    font-weight: 700;
    width: 179px;
    display: inline-block;
    border: 2px solid #373737;
    height: 43px;
    padding-top: 9px;
    padding-left: 15px;
    margin-top: 21px;
}
.portfolio_content_img_inner a.portfoio_btn:hover{
background:white;
  border: 2px solid #ffffff;

}
.portfolio_content_img_inner a.portfoio_share{
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 30px;
}
.portfolio_custom_padding{
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.portfolio_content_img:hover:after{
    opacity: 1;
}
.portfolio_content_img:hover .portfolio_content_img_inner{
    opacity: 1;
}

/******************************
SINGLE ARCHITECT PAGE
*******************************/
.single_architect_area{}
.single_architect_bio{
    margin-bottom: 30px;
}
.single_architect_img{}
.single_architect_img img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.single_architect_text  span{
    display: block;
    width: 226px;
    height: 37px;
    background: #d8d8d8;
    font-size: 14px;
    color: #444444;
    font-weight: 400;
    padding-top: 9px;
    padding-left: 12px;
}
.single_architect_text  span b{
    font-weight: 700;
    padding-right: 25px;
}
.single_architect_text  span a{
   color: #444444;
}
.single_architect_text p{
    font-size: 14px;
    color: #444444;
    font-weight: 400;
    line-height: 20px;
    margin-top: 25px;
}
.single_architect_desc{
    background: #f19833;
}
.single_architect_desc_text {}
.single_architect_desc_text h2{
    font-size: 24px;
    color: #444444;
    font-weight: 700;
    border-bottom: 1px solid #404040;
    padding-top: 40px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}
.single_architect_desc_left{
    padding-bottom: 25px;
}
.single_architect_desc_left_inner{
    position: relative;
    padding-left: 100px;
    padding-bottom: 20px;
}
.single_architect_desc_left_inner:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    background: #fff;
    border-radius: 100%;
    content: "";
    z-index: 2;
}
.single_architect_desc_left_inner:after{
    position: absolute;
    top: 0;
    left: 17.5px;
    width: 9px;
    height: 100%;
    background: rgba(216,216,216,.37);
    content: "";
    z-index: 1;
}
.single_architect_desc_left_inner:last-child:after{
    display: none;
}
.single_architect_desc_left_inner{}
.single_architect_desc_left_inner{}
.single_architect_desc_left_inner h2{
    font-size: 20px;
    color: #444444;
    font-weight: 700;
    margin-bottom: 0;
}
.single_architect_desc_left_inner h3{
        font-size: 12px;
    color: #444444;
    font-weight: 700;
}
.single_architect_desc_left_inner p{
    font-size: 12px;
    color: #444444;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding-right: 50px;
}
.single_architect_desc_right{}
.single_architect_desc_right p{
    font-size: 12px;
    color: #444444;
    font-weight: 400;
    line-height: 20px;
}
.single_architect_desc_right p{}
.single_recent_renovations_area{
    margin-bottom: 25px;
}
.single_recent_renovations_area .recent_renovations_inner {
    background: #f9f9f9;
    padding: 20.5px;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}
#recent_renovations_slider2{}
#recent_renovations_slider2{}
#recent_renovations_slider2.owl-theme .owl-nav{
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
}
#recent_renovations_slider2.owl-theme .owl-nav .owl-prev {
    position: absolute;
    top: 0;
    left: -50px;
    margin: 0;

}
#recent_renovations_slider2.owl-theme .owl-nav .owl-next {
    position: absolute;
    top: 0;
    right: -50px;
    margin: 0;
}

#recent_renovations_slider2 .owl-dots {
    display: block!important;
    margin-top: 20px
}
#recent_renovations_slider2 .owl-dots .owl-dot:focus {
    outline: 0;
}
#recent_renovations_slider2 .owl-dots .owl-dot span{
    width: 9px;
    height: 9px;
    margin: 5px 2px;
    background: transparent;
    border: 1px solid #edb25f;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 100%;
}
#recent_renovations_slider2 .owl-dots .owl-dot.active span{
    background: #edb25f;
    border: 1px solid #edb25f;
}

@media(max-width: 767px){
    #recent_renovations_slider2.owl-theme .owl-nav{
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    }
    #recent_renovations_slider2.owl-theme .owl-nav .owl-prev {
        position: absolute;
        top: 0;
        left: 0px;
        margin: 0;

    }
    #recent_renovations_slider2.owl-theme .owl-nav .owl-next {
        position: absolute;
        top: 0;
        right: 0px;
        margin: 0;
    }

}

/**************************
FORM STEP 1 PAGE
***************************/
.banner_area_type2{
    background-color: rgba(252, 178, 75, 0.86);
    padding: 40px 0px;
}
.banner_area_type2 p{
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 5px;
}
.banner_area_type2 h2{
    font-size: 36px;
    color: #444444;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner_area_type2 h3{
    font-size: 14px;
    color: #444444;
    font-weight: 400;
    line-height: 20px;
}


/*--------------------------
FORM TITLE AREA
----------------------------*/
.form_title_area{
    margin-bottom: 50px;
}
.form_title_area ul{
    margin: 50px 0px;
    padding: 0;
    list-style: none;
    text-align: center;
}
.form_title_area ul li{
    position: relative;
}
.form_title_area ul li:after{
    left: 0;
    position: absolute;
    top: 23px;
    width: 97px;
    height: 4px;
    background: #C0B5A6;
    content: "";
    z-index: -1;
}
.form_title_area ul li.active:after{
    left: 0;
    position: absolute;
    top: 23px;
    width: 97px;
    height: 4px;
    background: #f19833;
    content: "";
    z-index: -1;
}
.form_title_area ul li:last-child:after{
    display: none;
}
.form_title_area ul li:after{}
.form_title_area ul li{}
.form_title_area ul li.active{
  border: 2px solid #ffffff;
  background-color: #f19833;
  color: #fff;
}
.form_title_area ul li{
    display: inline-block;
    width: 51px;
    height: 51px;
    border: 1px solid #C0B5A6;
    background-color: #C0B5A6;
    color: rgba(0,0,0,.4);
    font-size: 24px;
    font-weight: 700;
    border-radius: 100%;
    margin: 0px 17px;
    padding-top: 7px;
    cursor: pointer;
}
.form_step_area{
    background-color: #f0f0f0;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 80px 50px;
}
.form_step_area{}
.form_step_inner{}
.form_step_inner h3{
    font-size: 12px;
    color: #282828;
    font-weight: 400;
    margin-bottom: 10px;
}
.form_step_inner h2{
    font-size: 24px;
    color: #444444;
    font-weight: 700;
    margin-bottom: 10px;
}
.form_step_inner p{
    font-size: 14px;
    color: #444444;
    font-weight: 400;
    line-height: 20px;
}
/*.form_step_inner h3{}
.form_step_inner h2{}
.form_step_inner p{}*/

.form_step_1area {
    margin-top: 0;
}
.form_step_1area .welcome_form_inner:after {
    display: none;
}
.form_step_1area .welcome_form_inner {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 20px;
    padding-bottom: 1px;
    padding-top: 35px;
    background: transparent;
    box-shadow: none;
  border:none;
}
.form_step_1area .welcome_form_inner .form-check {
    padding-right: 0px;
}
.form_step_1area .form-group {
    margin-bottom: 25px;
}
.form_step_1area .welcome_form_inner .form-check {
    margin-top: 20px;
}
.form_step_1area .welcome_form_inner button,
.form_step_1area .welcome_form_inner button:hover,
.form_step_1area .welcome_form_inner button:focus {
    position: absolute;
    right: 19px;
    bottom: 23px;
    font-size: 14px;
    background: #f19833;
    border: none;
    outline: 0;
    box-shadow: none;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}
.form_step_1area .welcome_form_inner .form-control {
    border-bottom: 1px solid #000;
}
.form_step_1area .welcome_form_inner .form-control:focus {
    border-bottom: 2px solid #f19833;
}
.form_step_1area{}

@media(max-width: 767px){
    .form_step_area {
        background-color: transparent;
        max-width: 734px;
        width: 100%;
        margin: 0 auto;
        padding: 20px 0px;
    }
    .welcome_form_area.form_step_1area {
        position: relative;
        margin-top: 0;
        z-index: 2;
        background: transparent;
        padding: 0px;
    }
    .form_step_1area .welcome_form_inner button,
    .form_step_1area .welcome_form_inner button:hover,
    .form_step_1area .welcome_form_inner button:focus {
        position: absolute;
        right: 19px;
        bottom: -21px;
        font-size: 14px;
        background: #f19833;
        border: none;
        outline: 0;
        box-shadow: none;
        color: #fff;
        padding-left: 20px;
        padding-right: 20px;
    }
}
/******************************
FORM STEP 2 AREA
******************************/
.form_step_area.form_step_2wrapper {
    padding: 30px 11px 25px;
}
.form_step_2area{}
.form_step_2_inner{}
h2.chosse_meet {
    color: #444444;
    font-size: 16px!important;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 7px;
}
.form_step_2_inner > h2{
    color: #444444;
    font-size: 12px;
    font-weight: 700;
}
.form_step_2_inner > p:nth-of-type(2){}
.form_step_2_inner > p:nth-of-type(2){}
.form_step_2{
    display: inline-block;
}
.form_step_2 h2{
    color: #444444;
    font-size: 16px;
    font-weight: 700;
}
.form_step_2 p{
    color: #000000;
    font-size: 10px;
    font-weight: 400;
}
.upload-btn-wrapper{}




.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    position: relative;
    overflow: hidden;
    display: inline-block;
    left: 23px;
}

.up_btn {
    font-size: 14px;
    font-weight: 600;
    border:0;
    width: 81px;
    height: 26px;
    color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    border-radius: 3px;
    background-color: #929292;
    cursor: pointer;
}
.up_btn:hover {
background: #f19833;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.date_picker_wrapper{
    margin-top: 25px;
}
.date_picker_area{
    float: left;
    width: 36%;
}
.date_picker_area h2{
    color: #444444;
    font-size: 16px;
    font-weight: 700;
}
.date_picker_area p{
    color: #000000;
    font-size: 10px;
    font-weight: 400;
    margin-top: 15px;
}
#datepicker{
    z-index: 1;
    margin-left: 44px;
    padding-left: 0;
    border: 0;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0;
}
.gj-datepicker [role=right-icon] button,.gj-datepicker [role=right-icon] button:focus{
    background: transparent!important;
    border: none!important;
    color: #929292!important;
    font-size: 14px;
    font-weight: 400;
    outline: 0!important;
    box-shadow: none!important;
}
.gj-datepicker [role=right-icon] {
    position: absolute;
    left: 0!important;
    height: 100%;
    z-index: 2;
}



.form_2_submit .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form_2_submit .form-group label span{
    position: relative;
    left: 34px;
    color: #000000;
    font-size: 10px;
    font-weight: 400;
}
.form_2_submit .form-group label {
  position: relative;
  cursor: pointer;
  line-height: 9px;
}

.form_2_submit .form-group label:before {
    content: '';
    border: 2px solid #f6b253;
    width: 18px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    height: 18px;
    background-color: #f6b253;
}

.form_2_submit .form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 14px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.form_2_submit{
    float: left;
    width: 30%;
}
.form_2_submit button ,.form_2_submit button:hover,.form_2_submit button:focus{
    width: 160px;
    height: 26px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    border-radius: 3px;
    background-color: #f19833!important;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    line-height: 0;
    outline:0;
    box-shadow: none;
    float: right;
    margin-top: 25px;
}
.date_picker_last{
    float: right;
    width: 27%;
}
.gj-datepicker-bootstrap [role=right-icon] button .gj-icon, .gj-datepicker-bootstrap [role=right-icon] button .material-icons {
    position: absolute;
    font-size: 21px;
    top: 9px;
    left: 9px;
    color: grey;
}
.flag_inner i{
    position: absolute;
    top: 0;
    left: 0;
    color: grey;
}
.flag_inner {
    position: relative;
    overflow: hidden;
}
#flag_input {
    z-index: 1;
    margin-left: 44px;
    padding-left: 0;
    border: 0;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0;
}
.flag_inner {}
.date_picker_last button,
.date_picker_last button:hover,
.date_picker_last button:active ,
.date_picker_last button:focus{
    width: 160px;
    height: 26px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    border-radius: 3px;
    background-color: #f6b253!important;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    line-height: 0;
    outline: 0;
    float: right;
    margin-top: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26), 0 2px 10px rgba(0, 0, 0, 0.16);
}
.date_picker_last button:active:focus {
    box-shadow: none;
}
.date_picker_last{}
@media(max-width: 767px){
    .date_picker_area {
        width: 100%;
    }
    .form_2_submit {
        width: 100%;
    }
    .form_2_submit .form-check {
        padding-left: 0;
    }
}

/********************************
FORM STEP 3 PAGE
*********************************/
.form_step_3area{
    text-align: center;
}
.form_step_3area > span{
    margin-top: 25px;
    width: 123px;
    height: 123px;
    background-color: #259b24;
    display: inline-block;
    border-radius: 100%;
}
.form_step_3area > span img{
    padding-top: 40px;
}
.form_step_3area > p{
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    margin: 40px 0px;
}
.form_step_3area .pdf_dl {
    text-align: left;
}
.form_step_3area .pdf_dl p{
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    display: inline-block;
    padding-left: 50px
}
.form_step_3area .pdf_dl p:nth-of-type(2){
    float: right;
    padding-right: 50px
}
.form_step_3area .pdf_dl p:nth-of-type(2) a{
    color: inherit;
}

@media(max-width: 767px){
    .form_step_3wrapper{
        background-color: #f0f0f0;
    }
    .form_step_3wrapper{}
    .form_step_3area .pdf_dl {
        text-align: center;
    }
    .form_step_3area .pdf_dl p{
        color: #444444;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        display: block;
        padding-left: 0px
    }
    .form_step_3area .pdf_dl p:nth-of-type(2){
        float: none;
        padding-right: 00px
    }
}

/***********************************
AMBIENTI PAGE
***********************************/
.ambienti_content_inner{}
.ambienti_content_img{
    position: relative;
    overflow: hidden;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-bottom: 15px;
}
.ambienti_content_img:before{
    position: absolute;
    top: -146%;
    left: -100%;
    width: 200%;
    height: 200%;
    background: rgba(246, 178, 83, .76);
    content: "";
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    transform: rotate(47deg);
    opacity: 0;
}
.ambienti_content_img:after{}
.ambienti_content_img > img{
    width: 100%;
}
.ambienti_content_img_inner{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 20px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    opacity: 0;
}
.ambienti_content_img_inner h2{
    color: #373737;
    font-size: 24px;
    font-weight: 700;
}
.ambienti_content_img_inner p{
  color: white;
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
}
.ambienti_content_img_inner a{}
.ambienti_content_img:hover:before{
    opacity: 1;
}
.ambienti_content_img:hover .ambienti_content_img_inner{
    opacity: 1;
}


/************************************
PAGE SINGLE
*************************************/
.single_restructure_content{
    margin-top: 0;
    padding-top: 50px;
}
.single_restructure_content{}
.single_page_content{}
.single_page_content p{
    color: #444444;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.single_page_content p a{
    color: #f19833;
    font-weight: 700;
}



/************************************
PORTFOLIO SINGLE PAGE
*************************************/
.single_p_banner_area{}
.single_p_banner_area .bredcrums_area .breadcrumb {
    padding-top: 44px;
    padding-bottom: 0;
}
.pagination_arrow{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    float: right;
    margin-right: -15px;
}
.pagination_arrow li{
    display: inline-block;
}
.pagination_arrow li a{
    color: #444444;
    font-size: 10px;
    font-weight: 500;
    height: 26px;
    background-color: #d8d8d8;
    display: block;
    padding: 5px;
}
.pagination_arrow li a{}
.pagination_arrow li a img{
    margin: 0px 5px;
}
.single_portfolio_area{}
.single_portfolio_content{}
.single_portfolio_content{}

.single_page_slider_wrapper{
    position: relative;
}
.single_page_slider_wrapper .s_b_f{
    position: absolute;
    top: 20px;
    left: 20px;
    color: #444444;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    z-index: 999999999999;
    width: 70px;
    height: 21px;
    background-color: #ffffff;
    padding-left: 10px;
}
.single_page_slider_wrapper .s_b_f2{
    right: 20px;
    left: auto;
    background: #fff;
}
#single_page_slider{}
#single_page_slider{}
#single_page_slider.owl-theme .owl-nav{
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
}
#single_page_slider.owl-theme .owl-nav .owl-prev {
    position: absolute;
    top: 0;
    left: 20px;
    margin: 0;

}
#single_page_slider.owl-theme .owl-nav .owl-next {
    position: absolute;
    top: 0;
    right: 20px;
    margin: 0;
}

#single_page_slider .owl-dots {
    display: block!important;
    margin-top: 20px
}
#single_page_slider .owl-dots .owl-dot:focus {
    outline: 0;
}
#single_page_slider .owl-dots .owl-dot span{
    width: 9px;
    height: 9px;
    margin: 5px 2px;
    background: transparent;
    border: 1px solid #edb25f;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 100%;
}
#single_page_slider .owl-dots .owl-dot.active span{
    background: #edb25f;
    border: 1px solid #edb25f;
}
.img-comp-img{
    background: red;
    height: 400px;
    width: 100%;
    display: block;
}
.img-comp-img{}
.img-comp-overlay{
    background: #a9ff76;
    height: 400px;
    width: 100%;
    display: block;
}
.img-comp-img{}

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
}

.img-comp-img img {
  display:block;
  vertical-align:middle;
}

.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 27px;
  height: 27px;
  background-color: #fff;
  opacity: 0.7;
  border-radius: 50%;
}

.single_content_text{
  font-family: pt sans;
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 20px;
}
.single_content_text p{
  font-family: pt sans;
  font-size: 16px;
  line-height: 25px;
    color: #444444;
    margin-top: 30px;
}
.single_content_text p{}





.sidebar_area{}
.sidebar_area{}
.sidebar_title{
    background-color: #fdedd6;
    margin-bottom: 50px;
}
.sidebar_title_inner{
    padding: 25px 15px 0px;
}
.sidebar_title h2{
    color: #444444;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
.sidebar_title p{
    color: #444444;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}
.sidebar_title ul{
    list-style: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar_title ul li{}
.sidebar_title ul li:last-child a{
    border-bottom: 0px solid #979797;
    padding-bottom: 10px;
}
.sidebar_title ul li a{
    color: #444444;
    font-size: 12px;
    font-weight: 900;
    line-height: 20px;
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid #979797;
    padding: 6px 0px;
}
.sidebar_title ul li a i{
    margin-right: 10px;
    float: left;
}
.sidebar_title > a{
    color: #444444;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    height: 37px;
    background-color: #f19833;
    display: block;
    padding: 11px 15px;

}
.sidebar_title > a img{
    float: right;
}
.sidebar_list{
    background-color: #d8d8d8;
    padding: 15px 15px 10px;
    margin-bottom: 20px;
}
.sidebar_list{}
.sidebar_list h2{
    color: #444444;
    font-family: "Avenir Next";
    font-size: 20px;
    font-weight: 900;
}
.sidebar_list ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar_list ul li:last-child{
    border: none;
}
.sidebar_list ul li{
    color: #444444;
    font-size: 14px;
    font-weight: 900;
    border-bottom: 1px solid #979797;
    padding: 6px 0px;
}
.sidebar_list ul li span{
    float: right;
    width: 50%;
    font-weight: 400;

}
.sidebar_list2 {
    padding:0px 15px;
}
.sidebar_list2 ul li{
    border: none;
}
.sidebar_list2 ul li a{
        color: #444444;
        padding: 0px 5px;
}
.sidebar_list2{}

@media(max-width: 767px){
    .pagination_arrow {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        float: left;
        margin-right: 0;
        margin-bottom: 35px;
        margin-left: 15px;
    }
}
@media(max-width: 767px){}

/******************************
CONTACT PAGE
*******************************/
.contact_area{
    margin-bottom: 30px;
}
.contact_left{}
.contact_left_inner {
    position: relative;
    padding-left: 60px;
    margin-bottom: 25px;
}
.contact_left_inner > img{
    position: absolute;
    top: 8px;
    left: 0;
}
.contact_left_inner p{
    color: #4d4d4e;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.1px;
    margin-bottom: 0;
}
.contact_left_inner .form-control {
    display: block;
    width: 100%;
    color: #000000;
    background-color: transparent;
    border:0;
    border-bottom: 1px solid #dddddd;
    border-radius: 0;
    height: 34px;
    padding-left: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #999999;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.1px;
    max-width: 352px;
    width: 100%;
    pointer-events:none;
}
.contact_left_inner .form-control:focus {
    outline: 0;
    box-shadow: none;
    border-bottom: 2px solid #f19833;
    font-size: 16px;
}
.contact_left_inner input.form-control{}

#map {
    width: 100%;
    height: 304px;
}


